<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Profiles</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Welcome to MiniGram</h2>
        <% for(profile of profiles) { %>
            <div class="profile">
                <h2>Username: <%= profile.username %></h3>
                <h3>Followers: <%= profile.followers %></h3>
                <h3>Following: <%= profile.following %></h3>
                <h4>Bio: <%= profile.bio %></h4>
                <a href="/profiles/<%= profile.id %>/show">View In Detail</a>
                <br>
                <br>
                <form method="post" action="/profiles/<%= profile.id %>?_method=DELETE">
                    <button>Delete this Profile</button>
                </form>
            </div>
        <%}%>
        <a href="/profiles/new">Make New Profile</a>



</body>
</html>
